/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #f6f6f6;
}

header {
  background-color: #255ee9;
}

.decoration {
  filter: invert(99%) 
  sepia(6%) 
  saturate(1%) 
  hue-rotate(26deg) 
  brightness(116%) 
  contrast(93%);
  margin-bottom: -5px;
}

/* # Navbar */

li {
  list-style-type: none;
  padding:  10px 0;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.login-button {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px;
  border: white;
  border-radius: 25px;
  cursor: pointer;
}

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-actions {
  text-align: right;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 40px;
}

.jumbotron-paragraph {
  font-size: 21px;
}

.bgi-jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
}

.style-button {
  margin: 25px;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
}

.open-button {
  background-color: black;
  color: white;
}

.jumbotron .content {
  width: 50%;
}

/* # Main & sections */

.two-col-section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 30%;
}

.flex > .large-col {
  flex-basis: 70%;
}

h2 {
  font-size: 50px;
  margin: 30px 0;
}

.main-paragraph {
  font-size: 21px;
}

.flex-img-right {
  display: flex;
  justify-content: end;
}

.flex > .full-col {
  flex-basis: 100%;
  text-align: center;
}

.full-col-img {
  width: 100%;
}

h3 {
  font-size: 30px;
}

.blue-button {
  background-color: #8ea1e1;
  color: white;
}

/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  display: flex;
  color: white;
}

.footer-top .footer-left {
  flex-basis: 30%;
}

.footer-left > :first-child {
  color: #7289da;
  font-size: 40px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.nav-col > :first-child {
  color: #7289da;
  padding-top: 70px;
  padding-bottom: 15px;
}

.language > .italian-flag {
  max-width: 25px;
}

.fa-angle-down {
  cursor: pointer;
}

.language {
  padding-bottom: 25px;
}

.contact-links {
  width: 60%;
}

.flex-icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.fa-brands {
  font-size: 22px;
  color: white;
  padding: 0;
}

.footer-top .footer-right {
  flex-basis: 70%;
}

.footer-nav {
  height: 100%;
  display: flex;
}

.footer-nav > div {
  flex-basis: 25%;
  padding-left: 30px;
}

.nav-title {
  font-size: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer-bottom > * {
  padding: 5px 10px;
}

#register-button {
  font-size: 18px;
}